@import '../../constants/variables.scss';

.landingContent {
  padding: $screen-padding;
  padding-top: $screen-padding-top;
  text-align: center;
  background-color: $color-background;
  min-height: calc(100vh - #{$header-height});
}

.landingTitle {
  font-size: $font-size-title;
  margin: 0;
  color: $color-text;
  font-family: $font-family-base;
}