@import '../../constants/styles-constants.scss';

.appHeader {
  width: calc(100% - var(--sidebar-width)); // El ancho se ajusta dinámicamente según el sidebar
  margin-left: var(--sidebar-width); // Se desplaza hacia la derecha para no solaparse con el sidebar
  height: $header-height; // Altura fija definida en las constantes
  background-color: $color-header; // Color de fondo del header
  display: flex; // Layout flexbox para centrar contenido
  align-items: center; // Centra verticalmente el contenido
  justify-content: center; // Centra horizontalmente el contenido
  position: fixed; // Header fijo en la parte superior
  top: 0; // Posicionado en la parte superior de la pantalla
  z-index: 1000; // Para estar por encima de otros elementos
  border-bottom: 1px solid darken($color-header, 8%); // Borde inferior con color más oscuro
}